* {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url("/images/back.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
body::after {
  content: "";
  background-color: rgba(157, 67, 102, 0.44);
  background-image: linear-gradient(to bottom right, rgb(221, 91, 134), rgb(145, 228, 206));

  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;
}
table, th, td {
  border: 1px solid black;
}
.mainText{
  font-size: 60px;
}
/* header {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  height: 40%;
  
} */
.header_h {
  background-color: #42031f;
  text-align: center;
  padding: 20px;

}
/* The navbar container */
.header_menu {
  overflow: hidden;
  background-color: rgb(30, 16, 16);
}

/* Navbar links */
.header_menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  font-size: 30px;

}

/* Links - change color on hover */
.header_menu a:hover {
  background-color: #ddd;
  color: black;
}

.mainTeachers {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 16%;
  width: 50%;
  text-align: center;
  display: block;
}
footer {
  position: fixed;
  width: 100%;
  margin: auto;
  bottom: 0.3%;
}
footer p {
  color: #000000;
  font-size: 14px;
}
.aboutInfo {
  margin-top: 3%;
  font-size: 36px;
}
.main table, .main .search, .mainTeachers table {
  margin: auto;
}
.entityTeacher, .entityU {
  font-size: 48px;
}

.techerInfo {
  width: 100%;
  height: auto;
  margin: 8% auto;
  display: flex;
}
.photoUrl {
  text-align: center;
  overflow: hidden;
  margin-left: 8%;
  height: 540px;
  width: 960px;
  margin-top: 1%;
  margin-right: 8%;
  text-align: center;
  border: 10px double #640b62;
}
.photoUrl img {
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.userAva {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  overflow: hidden;
  border-radius: 10%;
  text-align: center;
  border: 10px double #640b62;
}
.userAva img {
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  width: 80%;
  display: block;
}
.backTozU, .goToNewTeacher, .backToTeachers {
  font-size: 32px;
  background-color: #27a97b;
  border: 1px solid #764060;
  padding: 8px 25px;
}
.userBio {
  font-size: 32px;
}
.aboutInfo, .main, .newTeacherInfo {
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
  display: block;
} 
.main {
  margin-left: 20%;
  margin-right: 20%;
}
.paginationDiv {
  margin-top: 20%;
  width: 50%;
}
/* //////////////////////////////// */
.search .nameInput, .findButton, .prev, .next, .currentPageNumber, .pageNumber, .slash {
  height: 40px;
  line-height: 40px;
}
.search .nameSearch, .pageSearch {
  display: flex;
}
.search .nameInput {
  width: 64%;
  margin-top: 2%;
  font-size: 28px;
  text-align: center;
  vertical-align: center;
  background-color: #941a2e;
}
.search .findButton {
  width: 20%;
  font-size: 20px;
  margin-top: 2%;
  /* margin-left: 2%; */
  text-align: center;
  vertical-align: center;
  background-color: #941a2e;
}
.search .prev, .next, .currentPageNumber, .pageNumber, .slash {
  margin-top: 2%;
  font-size: 20px;
  background-color: #941a2e;
  text-align: center;
}
.search .prev {
  width: 18%;
  margin-right: 6.25%;
}
.search .next {
  margin-left: 6.25%;
  width: 18%;
}
.search .currentPageNumber, .perPageNumber {
  height: 40px;
  line-height: 40px;
  width: 6%;
  border: 1px solid #f9ebb5;
}
.search .slash {
  width: 3%;
}
.search .pageNumber {
  width: 6%;
  border: 1px solid #f9ebb5;
}
.pageSearch p {
  margin-top: 2%;
  font-size: 22px;
}
.perPageNumber {
  font-size: 22px;
  background-color: #941a2e;
  margin-top: 1.75%;
  /* margin-left: 5.4%; */
}
.prev {
  margin-top: 2%;
  font-size: 22px;
  background-color: #941a2e;
}
.next {
  margin-top: 2%;
  font-size: 22px;
  background-color: #941a2e;
}
.notFound {
  font-size: 36px;
}
.bigDiv {
  display: flex;
}
.paginationDiv {
  margin-top: 20%;
  width: 50%;
}
.search .findButtonFixed {
  overflow: hidden;
  position: fixed;
  right: 4%;
  width: 8.85%;
  font-size: 22px;
  margin-top: 0.7%;
  /* margin-left: 0.7%; */
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #941a2e;
}
.specialAContainer {
  margin-top: 4%;
}
.newForm div div input {
  position: fixed;
  margin-left: 12%;
  height: 50px;
  line-height: 50px;
  width: 25%;
  background-color: #941a2e;
  font-size: 28px;
}
.newForm div div {
  display: flex;
}
.newForm p {
  margin-bottom: 1%;
  font-size: 32px;
}
.inputSubmit {
  height: 50px;
  line-height: 50px;
  width: 15%;
  background-color: #941a2e;
  font-size: 28px;
}
.newStructure {
  margin-left: 13%;
  justify-content: center;
}
.fileUpload::-webkit-file-upload-button {
  visibility: hidden;
}
.fileUpload::before {
  content: 'Select image';
  margin-left: 20px;
  height: 40px;
  line-height: 40px;
  padding: 5px 30px;
  font-size: 18px;
  border: 1px solid #f9ebb5;
}
.deleteInput {
  margin-top: 10%;
  font-size: 20px;
  background-color: #941a2e;
  border: 1px solid #f9ebb5;
  padding: 8px 25px;
  margin-left: 55%;
  
}
.disabled {
  pointer-events: none;
  cursor: default;
}
p, table, input, button {
  font-family: 'Kalam';
  text-align: center;
  vertical-align: center;
}
table {
  color: #080f3e;
  font-size: 25px;
  width: 100%;
  height: 30px;

}
.otherTeacherInfo {
  margin-left: 10%;
  width: 100%;
}
.firstName, .lastName {
  font-size: 60px;
}
.dataOfBirth, .email, .couplesPerWeek, .phone {
  margin-top: 2%;
  font-size: 36px;
}

