
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table caption {
    font-size: 1.25em;
    margin: .5em 0 .75em;
}
table tr {
    border: 1px solid #ddd;
    padding: .35em;
}
table tr:nth-child(even) {
    background: #f8f8f8;  
}
table th,
table td {
    padding: .625em;
    text-align: left;
}
table th {
    background: #999;
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}